<!DOCTYPE html>
<html>
<head>
  <title>Fitz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/application.css">
</head>
<body>
<div class='container'>
  {{#notices}}
    <div class='row alert alert-info'>
      {{{ flashes }}}
    </div>
  {{/notices}}

    <div class='row usernav'>
      <div class='col-md-6'>
        <form action='/logout' method='post'>
          <ul>
            {{#logged_in}}
              <li>Hey {{ username }}</li>
              <li><a href="{{ user_path }}"> Home </a></li>
              <li><a href="{{ users_path }}"> Users to follow </a></li>
              <li><button type="submit" class="btn btn-link logout">Logout</button></li>
            {{/logged_in}}

            {{#logged_out}}
              <li><a href="{{ login_path }}"> Login </a></li>
            {{/logged_out}}
          </ul>
        </form>
      </div>
    </div>

  <div class='row'>
    <h1>MasterSystem</h1>
  </div>

  {{{ yield }}}
</div>

</body>
</html>