<!DOCTYPE html>
<html>
<head>
  <title>Fitz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/application.css">
</head>
<body>
<div class='container'>
  {{{ flashes }}}
  <div class='row'>
    <h1>MasterSystem</h1>
  </div>

  {{{ yield }}}
</div>

</body>
</html>