<div id='row'>
  <h2>Create New Project</h2>

  <form action='/projects' method='post'>
    <div class="form-group">
      <label>Name</label>
      <input name='name' type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>