<div class='row'>
  <h2>Users</h2>

  <form action="{{ follow_path }}" method='post'>
    {{#usernames}}
      {{ name }}
      <button name="user_id" value="{{ id }}" class="btn btn-primary">Follow</button>
    {{/usernames}}
  </form>
</div>