<div class='row'>
  <div class='col-md-9'>
    <div class='row'>
      <div class='col-md-3 user_image'>
        {{ initial }}
      </div>
      <div class='col-md-9 activity'>
        <h2>{{ name }}</h2>

        {{#no_followers}}
          Find some users to follow <a href='/users'>click here</a>
        {{/no_followers}}
        <ul>
          {{#activities}}
            <li>{{ . }}</li>
          {{/activities}}
        </ul>
        <h3>  </h3>
      </div>
    </div>
  </div>

  <div class='col-md-3 sidebar'>
    <a class="btn btn-default btn-lg" href="{{ new_project_path }}">New Project</a>
    <h3> Projects </h3>
    <ul>
      {{#projects}}
        <li><a href="/projects/{{ name }}">{{ name }}</a></li>
      {{/projects}}
    </ul>
  </div>
</div>